{% set gear_down = data.get_simvar_value('GEAR_POSITION') %}
{% if gear_down != 1 and gear_down != 0 %}
	{{ data.set_button_led(15, 1, blink=True) }}
{% else %}
	{{ data.set_button_led(15, gear_down) }}
{% endif %}
